@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html,
body {
  font-family: "Oxygen", sans-serif !important;
  background-color: #efdad7af;
}

.App {
  background-color: #efdad7af;
}

.App footer {
  text-align: center;
  margin-top: 50px;
}

.App footer a {
  color: #c1a3a3;
  text-decoration: none;
}

.App footer a:hover {
  color: #f3c5c5;
}
