@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html,
body {
  font-family: "Oxygen", sans-serif !important;
  background-color: #f1dd9e;
}

.App {
  background-color: #f1dd9e;
}

.App footer {
  text-align: center;
  margin-top: 50px;
}
