.Conditions {
  padding: 20px;
  margin: 5px;
  border-radius: 9px;
  background-color: #ffffff;
}

.conditions__city {
  color: #202124;
  font-size: 22px;
}

.conditions__description {
  color: #707579;
  font-size: 16px;
}

