.Conditions {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 25px;
}

.conditions__city {
  color: #f5a962;
  font-size: 80px;
}

.conditions__description {
  color: #3c8dad;
  font-size: 20px;
}
