.Conditions {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 25px;
}

.conditions__city {
  color: #F5A962;
  font-size: 90px;
}

.conditions__description {
  color: #3C8DAD;
  font-size: 20px;
}