.temperature__degrees {
  font-size: 55px;
  color: #202124;
  line-height: 60px;
}

.temperature__units {
  font-size: 18px;
  line-height: 24px;
  color: #202124;
}

.temperature__link {
  text-decoration: none;
  color: #707579;
}

.temperature__link:hover {
  color: #f3c5c5;
}

@media (max-width: 600px) {
  .temperature__degrees {
    font-size: 40px;
  }

  .temperature__units {
    font-size: 12px;
  }
}
